<!--<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      My App Claro
    </ion-title>
  </ion-toolbar>
</ion-header>-->
<app-cabeceras></app-cabeceras>
<ion-content>
  <app-menu></app-menu>
  <!--<div class="ion-padding">
    <ion-buttons >
      <ion-button *ngFor="let c of paginas" [routerLink]="c.redirectTo" >
        <ion-icon slot="start" [name]="c.icon"></ion-icon>
        <ion-label>{{c.name}}</ion-label> 
      </ion-button>
    </ion-buttons>
  </div>-->
  
</ion-content>
